body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #f4413e;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.day {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.day.active {
  background-color: #4caf50;
  color: white;
}

.day.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.task-header {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #f4413e;
  text-transform: uppercase;
  cursor: pointer;
}

.task-header a {
  margin-left: 1%;
  color: #007bff;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease;
}

.task-header a:hover {
  text-decoration: underline;
}

.task-details {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.survey {
  margin: 20px auto;
  max-width: 400px;
}

.survey label {
  display: block;
  margin-bottom: 5px;
}

.survey input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.survey button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.survey button:hover {
  background-color: #45a049;
}

.statistics {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}
